@use "./var.scss" as var;

@mixin flexStyle ($dir, $content, $items, $space) {
    display: flex;
    flex-direction: $dir;
    justify-content: $content;
    align-items: $items;
    gap: $space;
}

@mixin globalBgStyle ($bg, $height, $dir) {
    background-image: url($bg);
    background-repeat: no-repeat;
    background-size: cover;
    height: $height;
    @include flexStyle(column, center, center, null);

    @media (max-width: var.$breakpoint_md) {
        background-position: $dir;
    }

    @media (max-width: var.$breakpoint_sm) {
        padding-inline: 1rem;
    }

    &_overlay {
        position: absolute;
        width: 100%;
        height: $height;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &_content {
        @include flexStyle(column, center, center, .75rem);
        position: relative;
        z-index: 2;
        color: var.$primary_color;
    }
}

@mixin navbarStyle {
    .navbar {
        @include flexStyle(row, space-between, center, .75rem);
        max-width: var.$breakpoint_lg;
        margin: auto;
        padding: 1rem;

        @media(max-width: var.$breakpoint_sm) {
            @include flexStyle(column, null, null, 1rem);
        }

        &_list {
            @include flexStyle(row, null, null, 1rem);

            @media(max-width: var.$breakpoint_sm) {
                @include flexStyle(column, null, null, null);
            }

            li .navbarLink {
                color: var.$secondary_color;
            }
        }
    }
}

@mixin herozoneStyle {
    .herozone {
        max-width: 100%;
        padding: 0;

        &_bg {
            @include globalBgStyle(var.$bg_herozone, 800px, center);
            background-attachment: fixed;

            .searchBox {
                @include flexStyle(row, null, center, .75rem);
                border-radius: .5rem;
                padding: 1rem;
                width: 100%;
                background-color: var.$primary_color;

                @media (max-width: var.$breakpoint_xs) {
                    width: 90%;
                }

                &_search {
                    border: none;
                    background: none;
                    width: 99%;
                    font-size: 18px;

                    &::placeholder {
                        color: var.$secondary_color;
                        font-style: italic;
                    }
                }
            }

            .subtitleSize {
                width: 45rem;
                text-align: center;

                @media (max-width: var.$breakpoint_sm) {
                    width: 25rem;
                }

                @media (max-width: var.$breakpoint_xs) {
                    width: 100%;
                }
            }
        }

        &_bgCategories {
            @include globalBgStyle(var.$bg_categories, 550px, center);
            background-attachment: fixed;
        }

        &_bgBeef {
            @include globalBgStyle(var.$bg_beef, 550px, center);
            background-attachment: fixed;
        }


        &_bgChicken {
            @include globalBgStyle(var.$bg_chicken, 550px, center);
            background-attachment: fixed;
        }


        &_bgDessert {
            @include globalBgStyle(var.$bg_dessert, 550px, center);
            background-attachment: fixed;
        }

        &_bgLamb {
            @include globalBgStyle(var.$bg_lamb, 550px, center);
            background-attachment: fixed;
        }

        &_bgMiscellaneous {
            @include globalBgStyle(var.$bg_miscellaneous, 550px, center);
            background-attachment: fixed;
        }

        &_bgPasta {
            @include globalBgStyle(var.$bg_pasta, 550px, center);
            background-attachment: fixed;
        }

        &_bgPork {
            @include globalBgStyle(var.$bg_pork, 550px, center);
            background-attachment: fixed;
        }

        &_bgSeaFood {
            @include globalBgStyle(var.$bg_seaFood, 550px, center);
            background-attachment: fixed;
        }

        &_bgSide {
            @include globalBgStyle(var.$bg_side, 550px, center);
            background-attachment: fixed;
        }

        &_bgStarter {
            @include globalBgStyle(var.$bg_starter, 550px, center);
            background-attachment: fixed;
        }

        &_bgVegan {
            @include globalBgStyle(var.$bg_vegan, 550px, center);
            background-attachment: fixed;
        }

        &_bgVegetarian {
            @include globalBgStyle(var.$bg_vegetarian, 550px, center);
            background-attachment: fixed;
        }

        &_bgBreakfast {
            @include globalBgStyle(var.$bg_breakfast, 550px, center);
            background-attachment: fixed;
        }

        &_bgGoat {
            @include globalBgStyle(var.$bg_goat, 550px, center);
            background-attachment: fixed;
        }

        &_bgFavorite {
            @include globalBgStyle(var.$bg_favorite, 550px, center);
            background-attachment: fixed;
        }
    }
}


@mixin categoriesStyle {
    .categories {
        &_flex {
            @include flexStyle(row, space-between, null, null);
            flex-wrap: wrap;
            padding-block: 2.25rem;

            &_card {
                @include flexStyle(column, center, center, 1rem);
                background-color: var.$primary_color;
                box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.59);
                border-radius: .75rem;
                padding: .75rem;
                word-wrap: break-word;
                width: 17%;
                margin-bottom: 2rem;
                cursor: pointer;


                p {
                    font-weight: 800;
                }

                @media (max-width: var.$breakpoint_md) {
                    width: 30%;
                }

                @media (max-width: var.$breakpoint_sm) {
                    padding-block: 2rem;
                    width: 43%;
                }

                @media (max-width: var.$breakpoint_xs) {
                    width: 100%;
                }

                &_buttons {
                    @include flexStyle(row, center, center, 1rem);
                }
            }
        }
    }
}


@mixin homeBgStyle {
    .imgBg {
        max-width: 100%;
        padding: 0;

        &_bg {
            @include globalBgStyle(var.$bg_homePage, 1080px, right);
            text-align: center;
            background-attachment: fixed;
        }
    }

}

@mixin dayIngredientStyle {
    .ingredientDayCard {
        width: 90%;
        border-radius: .75rem;
        padding: 1.5rem;
        color: var.$secondary_color;
        background-color: var.$primary_color;

        p {
            font-weight: 800;
        }
    }
}


@mixin modalDialogStyle {
    .modal {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var.$bg_modal;
        z-index: 9999;

        .icon {
            width: 25px !important;
        }

        .iconBis {
            width: 30px !important;
        }

        &_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var.$primary_color;
            padding: 20px;
            border-radius: 8px;
            width: 40rem;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 720px;
            animation: modalAnimation .25s ease-in-out;
            font-weight: 800;

            @media (max-width: var.$breakpoint_sm) {
                width: 80%;
            }

            &_close {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 40px;
                cursor: pointer;
                color: var.$close_color;
            }


            &_elements {
                @include flexStyle(column, null, null, 1rem);

                &_flex {
                    @include flexStyle(row, null, center, .75rem);
                    flex-wrap: wrap;

                    button {
                        border-radius: 100%;
                        height: 50px;
                        width: 50px;
                    }

                    &_categoryDetail {
                        color: var.$secondary_color;
                        text-decoration: underline;
                        font-size: 18px;
                    }
                }

                img {
                    width: 82.5%;
                    height: auto;

                    @media (max-width: var.$breakpoint_xs) {
                        width: 100%;
                        height: auto;
                    }
                }

            }

            .titleModal {
                @include flexStyle(row-reverse, flex-end, center, .5rem);

                &_ingredientIcon {
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                }
            }

            .list_ingredients {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1rem;
                grid-row-gap: 1rem;
                padding: 0;
                margin: 0;

                li {
                    border-bottom: 1px solid var.$fourth_color;
                    padding-block: .5rem;
                }


                @media (max-width: var.$breakpoint_xs) {
                    @include flexStyle(column, null, null, .5rem);
                }
            }

            .instructions {
                p {
                    line-height: 1.5;
                }
            }

        }
    }


    @keyframes modalAnimation {
        to {
            top: 50%;
        }

        from {
            top: 0%;
        }
    }
}

@mixin searchResultStyle {
    .results {
        @include flexStyle(column, center, center, 1.25rem);
        padding-block: 2rem;

        &_img {
            width: 40rem;

            @media (max-width: var.$breakpoint_sm) {
                width: 100%;
            }
        }
    }
}

@mixin footerStyle {
    .footer {
        padding: 1.75rem;
        @include flexStyle(row, center, center, null);
        background-color: var.$secondary_color;
        color: var.$primary_color;
    }
}


@mixin loadingStyle {
    .loading {
        width: 100%;
        height: 100vh;
        @include flexStyle(column, center, center, 2rem);
        transition: .5s linear;

        &_ball {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            animation: bounceLoad 1s alternate infinite;
            transition: .5s linear;
            background: var.$third_color;

            &:nth-child(2) {
                animation-delay: .25s;

            }

            &:nth-child(3) {
                animation-delay: .5s;

            }
        }

        p {
            font-size: 50px;
            font-weight: 800;
        }
    }

    @keyframes bounceLoad {
        from {
          transform: scale(1.75);
        }

        to {
          transform: scale(1);
        }
      }
}