$primary_color: #ffffff;
$secondary_color: #212121;
$third_color: rgb(247, 78, 78);
$fourth_color: #e6e6e6;

$bg_modal: rgba(0, 0, 0, 0.5);
$close_color: #aaa;


$breakpoint_lg: 1280px;
$breakpoint_md: 1024px;
$breakpoint_sm: 820px;
$breakpoint_xs: 480px;


$h1: 48px;
$h2: 36px;
$h3: 32px;


$bg_herozone: "../assets/bg_herozone.PNG";
$bg_categories: "../assets/bg_categories.jpg";
$bg_beef: "../assets/bg_beef.jpg";
$bg_chicken: "../assets/bg_chicken.jpg";
$bg_dessert: "../assets/bg_dessert.jpg";
$bg_lamb: "../assets/bg_lamb.jpg";
$bg_miscellaneous: "../assets/bg_pizza.jpg";
$bg_pasta: "../assets/bg_pasta.jpg";
$bg_pork: "../assets/bg_pork.jpg";
$bg_seaFood: "../assets/bg_seafood.jpg";
$bg_side: "../assets/bg_side.jpg";
$bg_starter: "../assets/bg_starter.webp";
$bg_vegan: "../assets/bg_vegan.webp";
$bg_vegetarian: "../assets/bg_vegetarian.jpg";
$bg_breakfast: "../assets/bg_breakfast.webp";
$bg_goat: "../assets/bg_goat.jpg";
$bg_homePage: "../assets/bg_one.PNG";
$bg_favorite: "../assets/bg_food_heart.jpg";